<div class="container padded">
  <h2>All The Cocktails</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail| %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photos? ? cocktail.photos.first.path : 'drink_yqodry', height: 300, width: 400, crop: :fill %>');">
            <div class="card-description">
              <h3><%= cocktail.name %></h3>
              <p>
              Ingredients:
                <% cocktail.doses.each do |dose| %>
                  <%= dose.ingredient.name %>,
                <% end %>
              </p>
            </div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
        <%= link_to "Delete Cocktail", cocktail_path(cocktail), method: :delete %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>
