<div class="banner" style="background-image: linear-gradient(-225deg, rgba(62, 85, 216, 0.6) 0%, rgba(124, 131, 175, 0.6) 50%), url(<%= image_path 'cocktail.jpg' %>);">
  <div class="banner-content">
    <h1>Mr. Gin</h1>
    <h2>Welcome home!</h2>
  </div>
</div>

<div class="container padded">
  <div class="header-title text-center">
    <h2>All The Gin Cocktails</h2>
  </div>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photos? ? cocktail.photos.first.path : 'drink_yqodry', crop: :fill %>');">
            <div class="card-description">
              <h3><%= cocktail.name %></h3>
              <p>
              Ingredients:
                <% cocktail.doses.each do |dose| %>
                  <%= dose.ingredient.name %>,
                <% end %>
              </p>
            </div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
        <br>
        <br>
        </div>
      <% end %>
  </div>
</div>
