<div class="container padded">
  <h1><%= @cocktail.name %></h1>

    <ul>
      <% @cocktail.doses.each do |dose| %>
        <h3><li><%= dose.description %> - <%= dose.ingredient.name %></li></h3>
        <p><%= link_to "Delete Dose", dose_path(dose), method: :delete %></p>
      <% end %>
    </ul>
    <br>


  <%= link_to "Back To Cocktail List", cocktails_path %>
</div>

<hr>

<div class="container padded">
  <div class="row">
    <div class="col-xs-6 col-sm-offset-2">
      <h3>Add A Dose</h3>
      <%= simple_form_for [@cocktail, @dose], class: 'form-inline' do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: Ingredient.all.order(:name) %>

        <%= f.submit "Create A Dose", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
